<div class="container mt-2">
    <div class="row text-center">
        <div class="col">
        </div>
        <div class="col-4 mt-3" style="background-image:url(https://cdn.svgator.com/images/2022/01/funny-404-error-page-design.gif); height:500px; background-size: contain; 
        background-repeat: no-repeat; object-position: center;">
       <h1 style="font-size: 60px; margin-bottom:200px;">404</h1>
            <h4 class="fw-bolder">Look like your Lost</h4>
            <p class="fw-bolder">The page your looking for is not avaliable</p>
            <button routerLink="/" class="btn btn-success">Home</button>
        </div>
        <div class="col-4"> </div>
    </div>
</div>