<div class="container mt-4">
  <div class="row">
    <div class="col">
        <h1>
      <span class="text-success">   <i class="fa-solid fa-user"></i> </span> &nbsp; View Contact Page 
    </h1>  

         <p class="mt-4" style="text-align: justify;"> 
            This is dummy data:Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Facere iste maxime,ipsam, tempora eveniet commodi deserunt, nihil suscipit unde saepe
            ipsum aspernatur quo hic ut nemo et
            itaque accusamus soluta! deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque
            accusamus soluta!
            deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque accusamus soluta!
            deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque accusamus soluta! </p>

    </div>
  </div>
</div>


<!-- view contact design -->
<div class="container mt-4 mb-5">
<div class="row border p-5 align-items-center">
<div class="col-lg-4 text-center">
    <!-- contact image -->
    <img 
    width="150px" class="rounded border p-1"
    [src]="contact.photo" 
    [alt]="contact.name"
    />
    <br>
    <!-- back to all contact page link -->
    <a routerLink="" class="btn btn-warning mt-2"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp; Go Back</a>

</div>
<div class="col-lg-8">
     <!-- contact details -->
     <ul class="list-group">
        <li class="list-group-item">Name : <b>{{contact.name}}</b></li>
        <li class="list-group-item">E mail : <b>{{contact.email}}</b></li>
        <li class="list-group-item">Mobile : <b>{{contact.mobile}}</b></li>
        <li class="list-group-item">Company : <b>{{contact.company}}</b></li>
        <li class="list-group-item">Title : <b>{{contact.title}}</b></li>
        <li class="list-group-item">Group : <b>{{groupName}}</b></li>
       
     </ul>
</div>
</div>
</div>