<div class="container mt-3">
   <div class="row">
      <div class="col">
         <h1>Contact Management Application &nbsp;
            <a routerLink="add-contact" class="btn btn-success"><i class="fa-solid fa-user-plus"></i>Add New</a>
         </h1>

         <p class="mt-4" style="text-align: justify;"> This is dummy data:Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Facere iste maxime,ipsam, tempora eveniet commodi deserunt, nihil suscipit unde saepe
            ipsum aspernatur quo hic ut nemo et
            itaque accusamus soluta! deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque
            accusamus soluta!
            deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque accusamus soluta!
            deserunt, nihil suscipit unde saepe ipsum aspernatur quo hic ut nemo et itaque accusamus soluta! 
         </p>
         
         <div class="row">
            <div class="col-lg-6">
               <form>
                  <input name="searchKey" [(ngModel)]="searchKey" placeholder="search contact here" class="form-control mt-2">
               </form>
            </div>
            <div class="col-lg-6">
               <!-- <input type="button" value="Search" class="btn btn-primary mt-2"> -->
            </div>
         </div>




         

         <!-- card design -->
         <div class="mt-2">
            <div class="row">
   <div class="col-lg-6 mt-3" *ngFor="let contact of Allcontacts | filter : searchKey : 'name' ">
                  <!-- card -->
                  <div class="card" >
                     <div class="card-body">
                       <div class="row align-items-center">
                           <!-- divide into 3 parts -->
                           <div class="col-md-3">
                              <!-- 1st part-contact image -->
                              <img height="160px"
                                 [src]="contact.photo"
                                 [alt]="contact.name"
                                 />
                           </div>
                           <div class="col-md-8">
                              <!-- 2nd part -display contact information -->
                              <ul class="list-group">
                                 <li class="list-group-item">Name :{{contact.name}}</li>
                                 <li class="list-group-item">Mobile :{{contact.mobile}}</li>
                                 <li class="list-group-item">Email :{{contact.email}}</li>
   
                              </ul>
                           </div>
                           <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                             <!-- 3rd part - actions -->
                              <!-- view -->
                              <a routerLink="view-contact/{{contact.id}}" class="btn btn-success">
                              <i class="fa-solid fa-eye"></i>  
                              </a>
                             
                              <!-- edit -->
                              <a routerLink="edit-contact/{{contact.id}}" class="btn btn-warning mt-1">
                                 <i class="fa-solid fa-pen"></i>
                              </a>

                              <!-- delete -->
                              <button (click)="deleteContact(contact.id)"  class="btn btn-danger mt-1">
                                 <i class="fa-solid fa-trash"></i>
                           </button>
                             
                        </div>
                       </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
